
  .header{
      width:300px;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

  }
  .header-content{
      display: flex;
  }
 