.loader {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    text-align: center;
}
  