
.form-wrapper{
  background-color: #fff;
 width:500px;
 height:500px;
 box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;

}
.form {
    width: 400px;
    margin: 0 auto!important;
    
  }
  
.form-button {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 50px;
  }
.form-input{
    height:50px;
  }
.logo{
    height: 80px;
    width: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 1.5em;
  }
