@import '~antd/dist/antd.css';



body,
html,
#root {
  height: 100%;
  background: #f8f8f8;

}

.container-root{
  width: 100%;
  height: 100%;
}
.box {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #fff;
}

.container-screen{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ant-btn-primary {
  background-color: #56d0fb;
  border: none;
  background-image: -webkit-linear-gradient(309deg, #56d0fb  0%, #56d0fb  71%, #56d0fb  100%);
  background-image: linear-gradient(141deg, #56d0fb  0%, #56d0fb  71%, #56d0fb   100%);
  color: #fff !important;
  border-color: #56d0fb ;
  &:active,
  &:focus,
  &:hover {
    background-color: #000  !important;
    border-color: #56d0fb !important;
   
  }
}





.ant-layout-header {
  box-shadow: 0 1px 4px rgba(54, 124, 189, 0.08);
}



.ant-form-explain{
  margin: 10px 0px;
  text-align: left;

}